@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;

@use "@carbon/react/scss/colors";

.profile__heading {
  @include type-style("heading-03");

  text-align: center;
  font-weight: bold;
}

.profile__subheading {
  flex-grow: 1; // fill space so icons are bottom aligned
  @include type-style("body-long-01");

  font-weight: bold;
  color: colors.$gray-70;
  text-align: center;
}

.profile__button {
  max-width: 100%;
  width: 100%;
  display: block;
}

.profile__image {
  display: block;
  width: 50%;
  max-height: 350px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.profile__image_content {
  position: absolute;
  width: 100%;
  bottom: 0;
}
